<!DOCTYPE html>
<html lang="en">

<%- include('./partials/head.ejs') %>

<body>
    
    <%- include('./partials/nav.ejs') %>

    <div class="content about">
        <h2>About us</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum, velit labore. Cupiditate, ducimus accusantium tempora odit inventore architecto esse ratione!</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi dolorum voluptatibus facere nostrum est voluptatum quibusdam eveniet. Quas, velit dolore!</p>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Officiis temporibus eius magni. Molestiae non reprehenderit fugit similique odio voluptatibus iste.</p>
    </div>

    <%- include('./partials/footer.ejs') %>
    
</body>
</html>